<h1>Users#show</h1>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <p><%= @user.name %></p>
        <p>
        <% @user.work_times.each do |w| %>
        <li><%= w.time.to_s %></li>
        <% end %>
        </p>
      </h1>
    </section>
  </aside>
</div>
