<footer class="footer">
  <nav>
    <ul>
      <li>
        <div class="btn-group">
          <%= link_to '入力', new_work_time_path, class: "btn btn-primary btn-xs" %>
        </div>
      </li>
    </ul>
  </nav>
</footer>
